* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Garante que bordas não aumentem o tamanho do elemento */
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Remove o scroll de vez se a ideia for uma tela fixa */
}
